<h1>Listing carts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
	  <tr>
		<td><strong><%= format_currency_as_chf(cart.total_price()) %></strong>&nbsp;</td>
		<td><%= link_to 'Show', cart, class: "btn btn-default" %>&nbsp;</td>
		<td><%= link_to 'Delete', cart, :confirm => "Are you sure?", :method => :delete, class: "btn btn-danger" %></td>
	  </tr>
	<% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Cart', new_cart_path %>
